app-header.headerCont{
    background: red;
    border: 1px solid;
    border-bottom: black;
    border-style: outset;
    -webkit-text-stroke: 0.8px black;
    height: 40px;
    width: 100%;
    padding: 2px;
    display: block;
    color: white;
    font-family: 'Passion One', cursive;
    text-align: center;
    font-size: 38px;    
    border-radius: 15px;   
}