<div class="buscadorCont">
  <input type="text" placeholder="Buscar...">
</div>
<div class="comicCont">
  <ul>
    <li *ngFor="let comic of _comics; let i=index" >
      <div class="infoCont">
        <div class="titleCont">{{comic.title}}</div>
        <img src="{{comic.img}}">
        <div class="dateCont">{{comic.date}}</div>
        <div class="likesCont">
          <span>{{comic.likes}}</span>
          <img id="likebutton" (click)="likes(i,true)"  src="../../assets/like.png">
          <img id="dislikebutton" (click)="likes(i,false)" src="../../assets/dislike.png">
        </div>
      </div>
      
    </li>
    
    <!--<li>
        <div class="infoCont">
          <div class="titleCont">Título</div>
          <div class="dateCont">Fecha</div>
          <div class="likesCont">ESPACIO DE LIKES</div>
        </div>
      </li>-->
  </ul>
</div>