<div class="buscadorCont">
  <input type="text">
</div>
<div class="comicCont">
  <ul>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    <li>
      <div class="infoCont">
        <div class="titleCont">Título</div>
        <div class="dateCont">Fecha</div>
        <div class="likesCont">ESPACIO DE LIKES</div>
      </div>
    </li>
    
  </ul>
</div>